@import "tailwindcss";

@font-face {
  font-family: "playfair";
  src: url("/fonts/Playfair/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lora-regular";
  src: url("/fonts/lora/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lora";
  src: url("/fonts/lora/Lora-SemiBoldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary: #122a4d;
  --font-playfair: "playfair", serif;
  --font-lora-regular: "lora-regular", serif;
  --font-lora-semi-bold: "lora", serif;
}

.navigation-item {
  @apply text-2xl px-3 rounded-lg transition-colors;
  @apply hover:text-primary hover:bg-gray-400/50;
}

/* Estilos para prevenir el flash del carrusel */
.mySwiper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mySwiper.swiper-initialized {
  opacity: 1;
}

/* Asegurar que las imágenes del carrusel tengan un tamaño consistente */
.mySwiper .swiper-slide img {
  transition: transform 0.3s ease;
}
