---
import { CarruselComponent } from "@components/home/carrusel/CarruselCOmponent";
import MainComponent from "@components/home/main/MainComponent.astro";
import Title from "@components/ui/title/Title.astro";
import MainLayout from "src/layout/MainLayout.astro";
---

<MainLayout>
  <MainComponent />

  <div class="py-16">
    <Title title="Artículos destacados" />
    <CarruselComponent client:visible />
  </div>
</MainLayout>
