---
import { CarruselComponent } from "@components/home/carrusel/CarruselCOmponent";
import MainComponent from "@components/home/main/MainComponent.astro";
import Title from "@components/ui/title/Title.astro";
import MainLayout from "src/layout/MainLayout.astro";
import CardComponent from "@components/home/cards/CardComponent.astro";
---

<MainLayout>
  <MainComponent />

  <section class="py-16" data-aos="fade-up">
    <Title title="Artículos destacados" />
    <CarruselComponent client:load />
  </section>

  <CardComponent />

</MainLayout>
