---
import NavBar from "@components/ui/navbar/NavBar.astro";


---

<main
  class="bg-[url(/Images/fondo6.webp)] bg-no-repeat bg-cover h-screen bg-center"
>
  <div class="bg-black/20 h-full text-white">
    <NavBar />
    <div class="mt-52 flex justify-end m-auto max-w-8xl">
      <div class="w-[31rem] mr-28">
        <h1 class="text-5xl font-bold font-playfair">
          La combinación perfecta para regalar✨
        </h1>
        <button
          class="mt-8 text-2xl bg-primary px-9 py-3 rounded-3xl font-playfair cursor-pointer hover:bg-primary/80 transition-all"
        >
          Personaliza tu regalo ahora
        </button>
      </div>
    </div>
  </div>
</main>
